.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #38015c;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  border: 1px solid #38015c;
  background-color: #430969;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c291e2;
  color: #38015c;
}
